<footer class="footer">
    <section class="mailform">
    <div class="mailform-inner">
        <h3>Хотите подробнее узнать о нашем товаре?</h3>
        <p>Оставьте заявку на бесплатную консультацию</p>
        <div class="mailform-form">

            <input type="text" class="mailform-imput" placeholder="Ваше имя" value="" required>
            <input type="email" class="mailform-imput" placeholder="Email" value="" required>
            <input type="text" class="mailform-imput no-m" placeholder="Сотовый номер" value="" required>
            <button type="submit" class="mailform-button">Заказать звонок</button>

        </div>

    </div>


</section><!--mailform-->
    <div class="container">
        <div class="footer-top">
            <div class="footer-menu">
                <ul>
                    <li><a href="#">главная</a></li>
                    <li><a href="#">каталог</a></li>
                    <li><a href="#">корзина</a></li>
                    <li><a href="#">контакты</a></li>
                    <li><a href="#">faq</a></li>
                </ul>
            </div>
            <div class="footer-phone">
                <p>8 800 355 65 65</p>
            </div>
        </div>
    </div>
    <div class="b-border"></div>
        <div class="container">
             <div class="footer-copyright">
                 <div class="footer-copyright-text">
                     <p>
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum!
                     </p>
                 </div>
                  <div class="footer-copyright-social">
                      <a href="#"><img src="img/icons-instagram.png" alt=""></a>
                      <a href="#"><img src="img/icons-viber.png" alt=""></a>
                      <a href="#"><img src="img/icons-vk.png" alt=""></a>
                      <a href="#" class="no-m"><img src="img/icons-whatsapp.png" alt=""></a>

                 </div>

            </div>
        </div>


</footer>